
.mainLoginPageContainer{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    /* justify-content: center; */
    background-color: var(--highlight);
    height: 100vh;
    transition: all 1s ease;
}

.loginWrapper {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    min-width: 23rem;
    max-width: 28rem;
    /* width: 30%; */
    min-height: 30rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 10px solid var(--mid);
    color: var(--highlight);
    transition: all 1s ease;
}

.loginTitleImg{
    /* background-color: var(--dark);
    border-radius: 50%; */
    /* margin-top: 3rem; */
    /* margin-bottom: 1rem; */
    height: 30%;
    width: 30%;
    margin-right: 12rem;
}

.loginTitle{
    font-size: 3rem;
    color: var(--mid);
}

.loginErrorMsg{
    background-color: rgb(219, 94, 94);
    color: rgb(243, 236, 236);
    margin: 1.5rem;
    padding: .5rem;
    border-radius: 10px;
    transition: all 1s ease;
}

.loginSucessful{
    font-size: 2.5rem;
    margin: 1.5rem;
    padding: .5rem;
}


::placeholder {
    color: var(--mid);
  }

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginBtn{
    margin: 1rem;
    align-content: center;
    align-items: center;
    font-size: 2rem;
    height: 3rem;
    width: 10rem;
    background-color: var(--highlight);
    color: var(--dark);
    border-radius: 10px;
    transition: transform 1.5s ease;
    border: none;
    font-weight: bolder;
}

.loginBtn:hover {
    transform: scale(1.3);
    background-color: var(--highlight);
    color: var(--dark);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

input[type=text] {
    padding: 10px;
    margin:10px 0;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
    font-size: 1.5rem;
  }

input[type=password] {
    padding: 10px;
    margin:10px 0;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
    font-size: 1.5rem;
  }

  .signUpLink{
      font-size: 2rem;
      cursor: pointer;
      color: var(--mid);
      margin-top: .2rem;
      margin-bottom: 2rem;
      transition: transform 1.5s ease;
  }

  .signUpLink:hover{
      color: var(--highlight);
      transform: scale(1.3);
  }
