@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

* {
    --dark: #043034; /*green*/
    --highlight: #e7d49e; /*lighter yellow */
    --light: #ccc5b9;
    --mid: #d8ae5e; /*dark yellow*/
    --white: #fffcf2;
    font-family: "Source Code Pro", monospace;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--highlight);
}

.sortingContainer {
    background-color: var(--dark);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid var(--mid);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 3rem;
}

.descriptionContainer {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.descriptionCard {
    background-color: var(--dark);
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 10px solid var(--mid);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descriptionTitle {
    margin-top: 1rem;
    color: var(--mid);
}

.descriptionBody {
    margin-top: 1rem;
    width: 80%;
    height: 100%;
    color: var(--highlight);
    overflow: scroll;
}

.codeContainer {
    height: 100%;
    display: flex;
}

.codeCard {
    background-color: var(--dark);
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 10px solid var(--mid);
    color: var(--mid);
}

.commentsContainer {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commentsCard {
    background-color: var(--dark);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 10px solid var(--mid);
    color: var(--mid);
}

.nextAlgoContainer {
    height: 100%;
    width: 100%;
}

.nextAlgoCard {
    background-color: var(--highlight);
    border-top: 10px solid var(--mid);
    color: var(--mid);
    padding-bottom: 4rem;
}
