.container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background-color: var(--light);
}

.controls {
    margin: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border: 10px solid var(--mid);
    border-radius: 10px;
    background-color: var(--highlight);
}

.controls > * {
    margin:.5em 1em;
}
