.container {
    text-align: center;
    margin: 0 1px;
}
.stick {
    width: 1em;
    border-radius: 3px;
    transition: height 100ms ease;
    margin:2px;
    background-color: white;
}

.value {
    font-size: .85em;
    color:white
}


